.App {
  background-image: url(./images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(241, 241, 241);

}

.wrapper {
  width: 87%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 11rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .App {
    background-image: url(./images/image-hero-desktop.jpg)
  }

  .wrapper {
    width: 50%;
    margin-top: 14.5rem;
  }
}