.App {
  min-height: 100vh;
  background-image: url(./images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

}

.wrapper {
  width: 90%;
  margin: auto;
}