.ProjectDescription p {
    color: hsl(0, 0%, 48%);
    font-size: .85rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

@media screen and (min-width: 768px) {
    .ProjectDescription h3 {
        font-size: 1.3rem;
        margin-bottom: 2rem;

    }

    .ProjectDescription p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}