.MastercraftIntro-h1 {
    font-size: 1.25rem;
    padding: 0 1rem;
    text-align: center;
    margin: 1rem;
    ;
}

.MastercraftIntro-p {
    margin: 1rem 0 1.5rem 0;
    color: hsl(0, 0%, 48%);
    font-size: .85rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 500;
}

.bookmark {
    display: flex;
    position: relative;
    align-items: center;
}



.bookmark div {
    display: none;
    height: 56px;
    width: 10.5rem;
    align-items: center;
    justify-content: flex-end;
    background-color: hsl(0, 0%, 95%);
    border-radius: 2rem;
    padding: 0 1.5rem;
}

.bookmark div p {
    font-weight: 700;
    font-size: .9rem;
}

.bookmark.bookmarked div {
    width: 11.5rem;
}

.bookmarked p {
    color: hsl(176, 50%, 47%);
}

img[src*="mastercraft"] {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -115%)
}

img[src*="bookmark"] {
    cursor: pointer;
}

.callToAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.callToAction .isBookmarked {
    filter: invert(33%) sepia(77%) saturate(478%) hue-rotate(127deg) brightness(97%) contrast(87%);
}

@media screen and (min-width: 768px) {
    .MastercraftIntro-h1 {
        font-size: 1.75rem;
    }

    .MastercraftIntro-p {
        font-size: 1rem;
        margin-bottom: 2.25rem;
    }

    img[src*="mastercraft"] {

        transform: translate(-50%, -137.5%)
    }

    .bookmark div {
        display: flex;
    }

    .bookmark img {
        position: absolute;
    }

}