.MastercraftStats h2 {
    text-align: center;
    font-size: 2rem;
}

.MastercraftStats p {
    color: hsl(0, 0%, 48%);
    font-size: .85rem;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 500;
    margin: .5rem 0;
}

.MastercraftStats .separator {
    display: flex;
    justify-content: center;
    margin: 1.2rem 0 1.5rem 0;

}

.MastercraftStats .separator>div {
    width: 30%;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    text-align: center;
}

.bgProgressionBar {
    height: .75rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 95%);
    margin-top: 1.5rem;
}

.bgProgressionBar .ProgressionBar {
    height: .75rem;
    border-radius: 1rem;
    background-color: hsl(176, 50%, 47%);
}

@media screen and (min-width: 768px) {
    .MastercraftStats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .MastercraftStats .separator {
        display: none;
    }

    .MastercraftStats .Stats:nth-of-type(3) {
        border-left: 1px solid hsl(0, 0%, 86%);
        border-right: 1px solid hsl(0, 0%, 86%);
    }
}