.Button {
    background-color: hsl(176, 50%, 47%);
    border: none;
    padding: 1.25rem 2.75rem;
    border-radius: 2rem;
    color: white;
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
}

.RewardButton {
    padding: 1rem 1.85rem;
    font-size: .85rem;
}

.OutOfStock {
    padding: 1rem 1.85rem;
    font-size: .85rem;
    background-color: hsl(0, 0%, 48%);
}

.ModalRewardButton {
    padding: 1rem 1.75rem;
    font-size: .8rem;
}