.Card {
    background-color: #fff;
    border-radius: .5rem;
    padding: 2.25rem 1.5rem;
    position: relative;
    border: 1px solid hsl(0, 0%, 92%);
}

.Modal, .ModalThankYou {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 1.5rem;
    overflow-y: auto;
    height: auto;
}

@media screen and (min-width: 768px) {
    .Card {
        padding: 3rem;
    }

    .Modal {
        top: -9rem;
    }

    .ModalThankYou {
        top: 10rem;
        width: 75%;
        left: 12.5%;
    }
}